<nav class="navbar bg-success mb-5">
  <div class="container">
     <img src="https://scontent.flil1-1.fna.fbcdn.net/v/t39.30808-6/495552456_122108182880856379_3041011063401351603_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_ohc=PxDoCnlBXVsQ7kNvwGzTAOk&_nc_oc=Adk-zrFmW8S1o7Si3X9QRoOSWwV7-reNGvyR3fhkx5D-y2_S5g6IoqGo7O4leX2Zdf8&_nc_zt=23&_nc_ht=scontent.flil1-1.fna&_nc_gid=uj0anZ9IO9SRJf4pSufSmg&oh=00_AfIqJ9Yuu6nZnV2luslXzBdWdGQlbdtv4L7gyw4Up6y8pg&oe=68245F20">
  <div class="container text-white justify-content-center">
     <h2>Les laptops en promotion chez GUEGUE IT</h2>
  </div>
  </div>
  </nav>

  <div class="container">
  <div class="row">
    @for(laptop of laptopList(); track laptop.id) {
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 bg-light">
            <img
              class="img-fluid rounded-start"
              [src]="laptop.picture"
              [alt]="laptop.name"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ laptop.name }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Prix : {{ size(laptop) }}
              </h6>
              <p class="card-text">Nombre : {{ laptop.number }}</p>
              <div class="btn-group btn-group-sm" role="group">
                <button
                  (click)="incrementLife(laptop)"
                  class="btn btn-outline-secondary"
                  [disabled]="laptop.number >= 5"
                >
                  +
                </button>
                <button
                  (click)="decrementLife(laptop)"
                  class="btn btn-outline-secondary"
                  [disabled]="laptop.number <= 1"
                >
                  -
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<footer class="navbar bg-success mb-5">
   <div class="container text-white justify-content-center">
    <h2>Contact : +237690539407</h2>
  </div>
  <div class="container text-white justify-content-center">
    <p>Copyright © 2025 Kaler Cosmetic's - Tous droits réservés</p>
  </div>
</footer>